
/*font-family: 'Cabin Condensed', sans-serif;*/
/*font-family: 'IM Fell French Canon SC', serif;*/


/*!*TOP OF SCREEN*!*/
h1 {
    color: #d3d3d3;
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 3.5em;
    margin-bottom: 30px;
}

body {
    width: 95%;
    margin: 0 auto;
    background: linear-gradient(rgba(141,153,174, .3), rgba(141,153,174, .3)), url("img/coffee_beans.jpg") no-repeat fixed center;
    background-size: cover;
}

/*LEFT SIDE OF SCREEN*/
.roast-type {
    color: lightskyblue;
    font-size: 1.2em;
    font-family: 'Poiret One', cursive;
}

.coffee-name {
    color: white;
    font-family: 'Poiret One', cursive;
}



/*!*RIGHT SIDE OF SCREEN*!*/

.input-header {
    color: #d3d3d3;
    font-family: 'IM Fell French Canon SC', serif;
}

#roast-selection {
    height: 2em;
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 1.8em;
    text-align: center;
}

#search-input {
    margin-top: 10px;
    opacity: .7;
    color: black;
    height: 2em;
    font-size: 1.8em;
    font-family: 'IM Fell French Canon SC', serif;
}

#search-input:focus{
    opacity: 1;
    outline: none;
}

#add-coffee {
    height: 2em;
    font-size: 1.8em;
    font-family: 'IM Fell French Canon SC', serif;
    opacity: .7;
}

#add-coffee:focus{
    opacity: 1;
    outline: none;
}

#roast-type {
    margin-top: 10px;
    height: 2em;
    font-size: 1.8em;
    font-family: "IM Fell French Canon SC", serif;
}

#coffee-btn {
    margin-top: 10px;
    height: 2em;
    font-size: 1.8em;
    font-family: 'IM Fell French Canon SC', serif;
    background-image: url("img/coffee_btn_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
